<div class="app-multiple-choise-question">
  <h1>{{questionIndex}} : {{question.question}}</h1>
  <p *ngIf="question.attachment != ''">{{question.attachment}}</p>

  <button *ngFor="let possibility of question.possibleAnswers" [className]="switch(possibility.possibleAnswer)  ? 'select-button-style' : ''" (click)="Onclick(possibility.possibleAnswer, question.hasMultipleAnswers)">
    <p>
      {{possibility.possibleAnswer}}
    </p>
  </button>

  <button *ngIf="question.hasMultipleAnswers" (click)="next()" class="margin-next">
    <p>Volgende vraag</p>
  </button>
</div>
