.app-multiple-choise-question {
  width: 100%;
  color: var( --primary-text-color);
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.app-multiple-choise-question>* {
  width: 100%;
  margin: 0.5em 0;
  padding: 1em 0;
  text-align: center;
  border: none;
}

.margin-next{
  margin-top: 2em !important;
}

.select-button-style{
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {}

/* tablet */

@media only screen and (max-width: 769px) {
  .app-multiple-choise-question {
    padding: 0.25em 0;
  }
  .app-multiple-choise-question>* {
    margin: 0.25em 0;
    padding: 0.5em 0;
  }
}

/* phone */

@media only screen and (max-width: 426px) {}


button:hover {
  background-color: #e2e2e2;
}

button.select-button-style:hover  {
 background-color: #424242;
}
