<div class="main">
  <div *ngIf="this.campaign" class="row header">
    <h1>{{this.campaign.campaignName}}</h1>
  </div>
  <app-login *ngIf="this.userUUID === ''"></app-login>
  <div class="row content">
    <div *ngIf="this.campaign && this.userUUID !== ''" class="box">
      <app-open-question *ngIf="currentQuestion.questionType == 'open'" [questionIndex]="currentQuestionIndex+1"
        [question]="currentQuestion" (notify)="onNext()">
      </app-open-question>

      <app-multiple-choise-question *ngIf="currentQuestion.questionType == 'multiple'"
        [questionIndex]="currentQuestionIndex+1" [question]="currentQuestion" (notify)="onNext()">
      </app-multiple-choise-question>
    </div>
    <div *ngIf="!this.campaign" class="box"> </div>
  </div>
</div>
