.customWidth {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  color: cornflowerblue;
}

.link:hover, link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.back-btn {
  background-color: darkgrey;
}

.button {
  color: #FFFFFF;
}

.button.submit {
  width: 100%;
  margin-bottom: 10px;
}

.social-title {
  color: grey;
  font-size: 12px;
  margin: 0 auto 10px;
}

/* Authentication with socials */
a.mat-raised-button.mat-button-base {
  margin-bottom: 10px;
}

mat-card.errorMessage.mat-card {
  position: absolute;
  top: 0;
  color: red;
}

mat-card.errorMessage.mat-card span {
  display: block;
}
