.customWidth {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  color: #fff;
}

/* Authentication with socials */
a.mat-raised-button.mat-button-base {
  margin-bottom: 10px;
}

mat-card.errorMessage.mat-card {
  position: absolute;
  top: 0;
  color: red;
}

mat-card.errorMessage.mat-card span {
  display: block;
}
