<div class="customWidth">

  <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm" fx fxLayout fxLayoutAlign="center"
        fxLayoutGap="10px" fxLayoutGap.xs="0" fxflex="50%" fxflex.xs="80%" novalidate>
    <mat-card *ngIf="loginWithoutSocial !== true" style="text-align: center;">
      <div class="example-button-row" fxLayout="column">
        <a (click)="googleLogin()" color="warn" mat-raised-button>Login in met Google</a>
        <a color="primary" mat-raised-button>Login in met Facebook</a>
        <a mat-raised-button>Login in met GitHub</a>
      </div>
      <a (click)="loginWithoutSocial = true">Inloggen zonder socialaccount</a>
    </mat-card>
    <mat-card *ngIf="loginWithoutSocial === true" class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout.xs="column">
          <mat-form-field fxFlex="33%" fxFlex.xs="100%">
            <input formControlName="firstname" matInput placeholder="Voornaam">
            <mat-error *ngIf="loginForm.controls['firstname'].hasError('required')">
              Voornaam is <strong>vereist</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="33%" fxFlex.xs="100%">
            <input formControlName="insertion" matInput placeholder="Tussenvoegsel">
          </mat-form-field>
          <mat-form-field fxFlex="33%" fxFlex.xs="100%">
            <input formControlName="lastname" matInput placeholder="Achternaam">
            <mat-error *ngIf="loginForm.controls['lastname'].hasError('required')">
              Achternaam is <strong>vereist</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <mat-form-field fxFlex="50%">
            <input formControlName="phonenumber" matInput pattern="^[+]?[0-9]{9,12}$" placeholder="Telefoonnummer"
                   type="tel">
            <mat-error *ngIf="loginForm.controls['phonenumber'].errors">
              Uw telefoonnummer is <strong>niet</strong> correct
            </mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50%">
            <input email formControlName="email" matInput placeholder="Emailadres">
            <mat-error *ngIf="loginForm.controls['email'].errors">
              Uw emailadres is <strong>niet</strong> correct
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-raised-button type="submit">Submit</button>
        <button (click)="loginWithoutSocial = null" color="warn" mat-raised-button type="submit">Terug</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
