.app-open-question {
  width: 100%;
  color: var( --primary-text-color);
  display: flex;
  flex-direction: column;
  padding: 1em 0;
}

.app-open-question>* {
  width: 100%;
  margin: 0.5em 0;
  padding: 1em 0;
  text-align: center;
  border: none;
}

.app-open-question textarea {
  background-color: var(--tertiary-color);
  color: var(--tertiary-text-color);
  font-size: 1em;
  resize: none;
  text-align: left;
  padding: 1em;
  width: calc(100% - 2em);
  margin: 1em 0 0.2em 0;
}

.app-open-question .hint {
  margin-top: 0;
  padding-top: 0;
  text-align: right;
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {}

/* tablet */

@media only screen and (max-width: 769px) {
  .app-open-question {
    padding: 0.25em 0;
  }
  .app-open-question>* {
    margin: 0.25em 0;
    padding: 0.5em 0;
  }
}

/* phone */

@media only screen and (max-width: 426px) {}

button:hover {
  background-color: #e2e2e2;
}
