.app-question {
  color: white;
  display: flex;
  flex-direction: column;
}

.app-question * {
  width: 100%;
  padding: 1ex 0ex;
  margin: 0.5ex 0ex;
  text-align: center;
  border: none;
}

.app-question textarea {
  resize: none;
  text-align: left;
}
