.app-multiple-choise-question {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

.app-multiple-choise-question * {
  width: 100%;
  padding: 1ex 0ex;
  text-align: center;
  border: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.app-multiple-choise-question button {
  padding: 1em 0ex;
}

/* 4k desktop */

@media only screen and (min-width: 1442px) {}

/* desktop */

@media only screen and (max-width: 1441px) {}

/* laptop */

@media only screen and (max-width: 1025px) {}

/* tablet */

@media only screen and (max-width: 769px) {}

/* phone */

@media only screen and (max-width: 426px) {}
